@import "../../assets/styles/scss/partials/mixins";

.main-header-container {
  @include fixed-image;
  height: 100vh;

  @include mq(mediumBig) {
    background-position: 35% 0%;
    background-repeat: no-repeat;
  }

  @include mq(medium) {
    background-position: 35% 0%;
    background-repeat: no-repeat;
  }

  @include mq(small) {
    background-size: 200%;
    background-position: 45% -0%;
    background-repeat: no-repeat;
  }

  @include mq(tinySmall) {
    background-size: 100%;
    background-position: 100% 80%;
    background-repeat: no-repeat;
  }

  @include mq(tinylessSmall) {
    background-position: 50% 86%;
    background-repeat: no-repeat;
  }

  // @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
  //   background-size: 238%;
  //   background-position: 45% -0%;
  //   background-repeat: no-repeat;
  // }
}

.home-dog-hero {
  background-image: url("../../images/heroes/home-dog-hero-tall-test3.jpg");
  @include mq(small) {
    background-image: url("../../images/heroes/home-dog-hero-tall-test4.jpg");
  }
  @include mq(tinySmall) {
    background-image: url("../../images/heroes/home-dog-hero-tall-mobile4.jpg");
  }
}

.gallery-dog-hero {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../images/heroes/gallery-dog-hero-tall-test2.jpg");
  background-image: linear-gradient(rgba(61, 28, 28, 0.14), rgba(0, 0, 0, 0.14)),
    url("../../images/heroes/gallery-dog-hero-tall-test2.jpg");
  @include mq(small) {
    background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../../images/heroes/gallery-dog-hero-tall-test3.jpg");
    background-image: linear-gradient(
        rgba(61, 28, 28, 0.14),
        rgba(0, 0, 0, 0.14)
      ),
      url("../../images/heroes/gallery-dog-hero-tall-test3.jpg");
    background-size: 130em;
    background-position: 45% 100%;
    background-repeat: no-repeat;
  }
  @include mq(tinySmall) {
    background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../../images/heroes/gallery-dog-hero-tall-test4.jpg");
    background-image: linear-gradient(
        rgba(61, 28, 28, 0.14),
        rgba(0, 0, 0, 0.14)
      ),
      url("../../images/heroes/gallery-dog-hero-tall-test4.jpg");

    background-size: 70em;
    background-position: 50% 100%;
  }
}

.prices-dog-hero {
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../../images/heroes/prices-dog-hero-tall-test7.jpg");
  background-image: linear-gradient(rgba(61, 28, 28, 0.14), rgba(0, 0, 0, 0.14)),
    url("../../images/heroes/prices-dog-hero-tall-test7.jpg");

  @include mq(small) {
    background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../../images/heroes/prices-dog-hero-tall-test8.jpg");
    background-image: linear-gradient(
        rgba(61, 28, 28, 0.14),
        rgba(0, 0, 0, 0.14)
      ),
      url("../../images/heroes/prices-dog-hero-tall-test8.jpg");

    background-size: 130em;
    background-position: 45% 100%;
    background-repeat: no-repeat;
  }

  @include mq(tinySmall) {
    background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("../../images/heroes/prices-dog-hero-tall-test10.jpg");
    background-image: linear-gradient(
        rgba(61, 28, 28, 0.14),
        rgba(0, 0, 0, 0.14)
      ),
      url("../../images/heroes/prices-dog-hero-tall-test10.jpg");

    background-size: 65em;
    background-position: 50% 100%;
  }
}
